include README.md setup.py COPYING.txt
include Cargo.toml Cargo.lock
recursive-include dromedary *.py *.rs *.toml
recursive-include dromedary/tests/ssl_certs *
recursive-include crates Cargo.toml *.rs
include dromedary/py.typed
